<section class="employment">
  <div class="container">
    <h2>employment</h2>
    <ul class="employment__list">
      <li class="employment__item">
        <svg class="employment__icon" width="70" height="70">
          <use href=""></use>
        </svg>
        <div class="employment__thumb">
          <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
          <p class="employment__text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </div>
      </li>
      <li></li>
      <li class="employment__item">
        <svg class="employment__icon" width="70" height="70">
          <use href=""></use>
        </svg>
        <div class="employment__thumb">
          <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
          <p class="employment__text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </div>
      </li>
      <li></li>
      <li class="employment__item">
        <svg class="employment__icon" width="70" height="70">
          <use href=""></use>
        </svg>
        <div class="employment__thumb">
          <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
          <p class="employment__text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </div>
      </li>
      <li></li>
      <li class="employment__item">
        <svg class="employment__icon" width="70" height="70">
          <use href=""></use>
        </svg>
        <div class="employment__thumb">
          <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
          <p class="employment__text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
